<%- include('partials/header.ejs') %>

<%- include('partials/main_nav.ejs') %>

<main class="container">
    <div class="jumbotron">
  <h1 class="display-4">Welcome to the <%= title %> page</h1>
  <p>My name is Lance Nelson. I am 23 years old and from Canada, born and raised. </p>
  <p>I am currently a student at Centennial College and my program is Software Applications - Artificial Intelligence.</p>
  I like to help people out where I can and I hope that my program can pass onto me the knowledge needed 
  to help people and organizations out.</p>
    </div>
  </main>

<%- include('partials/bottom_nav.ejs') %>

<%- include('partials/footer.ejs') %> 