<%- include('partials/header.ejs') %>

<%- include('partials/main_nav.ejs') %>
   
  <main class="container">
    <div class="jumbotron">
  <h1 class="display-4">Welcome to the <%= title %> page</h1>
  <p>Here is where you can contact me:
  <li>Email: lnelso14@my.centennialcollege.ca</li>
  <li>Phone: 1-226-668-2906</li>
  <li>Availability: 8am - 9pm</li>
  </p>
    </div>
  </main>

<%- include('partials/bottom_nav.ejs') %>

<%- include('partials/footer.ejs') %> 