<%- include('partials/header.ejs') %>

<%- include('partials/main_nav.ejs') %>
   
  <main class="container">
    <div class="jumbotron">
  <h1 class="display-4">Welcome to the <%= title %> page</h1>
  <p>My name is Lance Nelson and welcome to my Personal Portfolio website that
  was made using Expressjs and Node!</p>
  <br>
  <p>My mission with my program that I am in is to use the knowledge to help people out 
    or make certain systems better for people. 
  </p>
  <br>
  <p> Have a look around my website, like the About Me page 
  or Projects page that can be found in the navigation bar above.</p>
    </div>
  </main>

<%- include('partials/bottom_nav.ejs') %>

<%- include('partials/footer.ejs') %> 