<%- include('partials/header.ejs') %>

<%- include('partials/main_nav.ejs') %>
   
  <main class="container">
    <div class="jumbotron">
  <h1 class="display-4">Welcome to the <%= title %> page</h1>
  <p>Some projects that I have worked on include: 
  <li>A Web Game - This project I had to do as an assignment for my web development course
  was to design and implement a functioning web based game.</li>
  <li>Antique Cataloguing System - This project I had to for an assignment for my object oriented 
  C# programming course where I had programmed a antique cataloguing system to recieve input of 
  antique related information and store it.</li>
  <li>Prosthesis Design - This project I am doing as a hobby to see what kinds of prosthesis I can design
  and implement that could be of use for people who are disabled.</li>
  </p>
    </div>
  </main>

<%- include('partials/bottom_nav.ejs') %>

<%- include('partials/footer.ejs') %> 