<%- include('partials/header.ejs') %>

<%- include('partials/main_nav.ejs') %>
   
  <main class="container">
    <div class="jumbotron">
  <h1 class="display-4">Welcome to the <%= title %> page</h1>
  <p>This page highlights the services I can offer which include:
    <li>General programming</li>
    <li>Photo Editing</li> 
    <li>Basic 3D modelling</li>
    <li>Operating 3D printers</li>
  </p>
  <br>
    <p>I am open to learn more, so expect a longer list in the future!</p>

    </div>
  </main>

<%- include('partials/bottom_nav.ejs') %>

<%- include('partials/footer.ejs') %> 